<html>
	<head>
		<title>点度后台管理</title>
		<include file="Common:head"/>
		<style>
			.detail-control { margin-top: 5px; }
			.detail-control .detail-add { width: 50%; margin-right: 10px; }
			.member-entry { margin-top: 5px; display: inline-block; width: 100%; }
			.member-entry input { width: 27%; margin-right: 3.33%; }
		</style>
		<style>
			.menu-create-entry { margin-bottom: 25px; }
			.menu-create-entry .title { border-left: 5px solid #aaa; padding-left: 5px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }

			.current-menu-entry { transition: all 0.3s ease-in-out; padding: 5px 0; box-sizing: border-box; }
			.current-menu-entry p { font-size: 14px; }
			.current-menu-entry .right span a { padding: 0 5px; display: inline-block; }
			.current-menu-entry:hover { background: #ddd; }
			.current-menu-entry:last-child { margin-bottom: 10px; }

			.photo-ctn { margin-top: 0; }
		</style>
	</head>
	<body>
		<div class="wrapper admin">
			<include file="Common:alert"/>
			<include file="Common:adminHeader"/>
			<div class="middle-content">
				<include file="Common:adminSidebar"/>
				<div class="content pull-right">
					<div class="information">
						<h1 class="headline text-center bold">待发布车辆 - <span class="h1-small">信息查看</span></h1>
						<?php 
							$Dao = A('Admin');
							$viewId = $_GET['pageId'];

							$result = $Dao -> pendingVehicleSelectById($viewId);
							$result = $result[0];

							//图片数组
							$imagesArr = explode(' | ', $result['images']);
						 ?>

						<!-- 图片添加form -->
						<form class="imageAddSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageAdd', array('id' => $result['id']))}" method="POST">
							<input name="photo" id="image" type="file" class="form-control" placeholder="图片" autocomplete="off">
						</form>

						<!-- 图片删除form -->
						<form class="imageDeleteSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageDelete', array('id' => $result['id']))}" method="POST">
							<input name="imageDeleteId" type="text" class="form-control" value="<?php echo $result['id']; ?>" autocomplete="off">
							<input name="imageDeleteUrl" type="text">
						</form>

						<!-- 图片编辑form -->
						<form class="imageEditSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageEdit', array('id' => $result['id']))}" method="POST">
							<input id="imageEditId" name="imageEditId" type="file" class="form-control" placeholder="图片" value="<?php echo $result['id']; ?>aaa" autocomplete="off">
							<input name="imageEditUrl" type="text">
						</form>

						<!-- 车辆信息form -->
						<form class="form-horizontal" enctype="multipart/form-data" role="form" action="{:U('Admin/carUpdate', array('id' => $result['id']))}" method="POST">
							<input style="display: none;" type="text" name="viewId" value="<?php echo $viewId; ?>">
							<div class="submit-ctn mg-top">
								<div class="left pull-left">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="city_name"><p>城市</p></label>
										<div class="col-sm-10">
											<input name="city_name" id="city_name" type="text" readonly="readonly" class="form-control" placeholder="城市" autocomplete="off" required value="<?php echo $result['city_name']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="category"><p>类别</p></label>
										<div class="col-sm-10">
											<input name="category" id="category" type="text" readonly="readonly" class="form-control" placeholder="类别" autocomplete="off" required value="<?php echo $result['category']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="brand_name"><p>品牌</p></label>
										<div class="col-sm-10">
											<input name="brand_name" id="brand_name" type="text" readonly="readonly" class="form-control" placeholder="品牌" autocomplete="off" required value="<?php echo $result['brand_name']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="style_name"><p>车型</p></label>
										<div class="col-sm-10">
											<input name="style_name" id="style_name" type="text" readonly="readonly" class="form-control" placeholder="车型" autocomplete="off" required value="<?php echo $result['style_name']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="cost_price"><p>购车价(万)</p></label>
										<div class="col-sm-10">
											<input name="cost_price" id="cost_price" type="text" readonly="readonly" class="form-control" placeholder="购车价" autocomplete="off" required value="<?php echo $result['cost_price']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="price"><p>售价(万)</p></label>
										<div class="col-sm-10">
											<input name="price" id="price" type="text" readonly="readonly" class="form-control" placeholder="售价" autocomplete="off" required value="<?php echo $result['price']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="buy_time"><p>购车时间</p></label>
										<div class="col-sm-10">
											<input name="buy_time" id="buy_time" type="text" readonly="readonly" class="form-control" placeholder="购车时间" autocomplete="off" required value="<?php echo $result['buy_time']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>发布时间</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="发布时间" autocomplete="off" required value="<?php echo $result['publish_time']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="user_name"><p>发布人</p></label>
										<div class="col-sm-10">
											<input name="user_name" id="user_name" type="text" readonly="readonly" class="form-control" placeholder="发布人" autocomplete="off" required value="<?php echo $result['user_name']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="user_phone"><p>电话</p></label>
										<div class="col-sm-10">
											<input name="user_phone" id="user_phone" type="text" readonly="readonly" class="form-control" placeholder="电话" autocomplete="off" required value="<?php echo $result['user_phone']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="status"><p>状态</p></label>
										<div class="col-sm-10">
											<input name="status" type="text" readonly="readonly" class="form-control" placeholder="状态" autocomplete="off" required value="<?php if($result['status'] == '0'){echo '待审核';} if($result['status'] == '1'){echo '已完成';} ?>">
										</div>
									</div>
								</div>

								<div class="right pull-right">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="mileage"><p>里程(万)</p></label>
										<div class="col-sm-10">
											<input name="mileage" id="mileage" type="text" readonly="readonly" class="form-control" placeholder="里程" autocomplete="off" required value="<?php echo $result['mileage']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="output"><p>排量</p></label>
										<div class="col-sm-10">
											<input name="output" id="output" type="text" readonly="readonly" class="form-control" placeholder="排量" autocomplete="off" required value="<?php echo $result['output']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="detail"><p>变速箱</p></label>
										<div class="col-sm-10">
											<input name="detail" id="detail" type="text" readonly="readonly" class="form-control" placeholder="变速箱" autocomplete="off" required value="<?php echo $result['detail']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="color"><p>颜色</p></label>
										<div class="col-sm-10">
											<input name="color" id="color" type="text" readonly="readonly" class="form-control" placeholder="颜色" autocomplete="off" required value="<?php echo $result['color']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="situation"><p>保养情况</p></label>
										<div class="col-sm-10">
											<input name="situation" id="situation" type="text" readonly="readonly" class="form-control" placeholder="保养情况" autocomplete="off" required value="<?php echo $result['situation']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="factory"><p>生产厂商</p></label>
										<div class="col-sm-10">
											<input name="factory" id="factory" type="text" readonly="readonly" class="form-control" placeholder="生产厂商" autocomplete="off" required value="<?php echo $result['factory']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="advantage"><p>配置亮点</p></label>
										<div class="col-sm-10">
											<input name="advantage" id="advantage" type="text" readonly="readonly" class="form-control" placeholder="配置亮点" autocomplete="off" required value="<?php echo $result['advantage']; ?>">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="image"><p>图片</p></label>
										<div class="col-sm-10">
											
										</div>
										<div class="col-sm-10 pull-right">
											<div class="image-control-ctn">
												<?php 
													foreach($imagesArr as $key => $val):
												 ?>
												 	<div class="image-control inblk relative">
												 		<img style="width: 120px; height: 120px;" class="photo-ctn mg-top" src="__ROOT__<?php echo $val; ?>" alt="">
												 		<!-- <div class="image-control-handle">
												 			<div class="cus-table">
												 				<div class="cus-table-cell">
												 					<div class="entry">
												 						<p class="btn-image-edit" data-url="<?php echo $val; ?>" title="编辑"><i class="icon-edit"></i></p>
												 					</div>
												 					<div class="entry">
												 						<p class="btn-image-delete" data-url="<?php echo $val; ?>" title="删除"><i class="icon-trash"></i> </p>
												 					</div>
												 				</div>
												 			</div>
												 		</div> -->
												 	</div>
												<?php endforeach; ?>
											</div>
											<!-- <div class="image-control-add active" title="添加图片"><p>+</p></div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="btn-ctn width-all text-center mg-top">
								<!-- <button type="button" class="btn btn-primary btn-edit" href="#"><p>编辑</p></button>
								<button type="submit" class="btn btn-primary btn-save none" disabled href="#"><p>保存</p></button> -->
								<a class="btn btn-default" href="{:U('Admin/toPendingVehicle', array('pageName' => 'pending_vehicle'))}"><p>返回</p></a>
							</div>
						</form>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="jagoFancybox">
			<div class="cus-table">
				<div class="cus-table-cell">
					
				</div>
			</div>
		</div>

		<script>
		(function ($) {
			$(function() {
				//点击图片添加
				$('.image-control-add').on('click', function() {
					var length = $('.image-control-ctn >div').length;
					if (length >= 6) {
						cusAlert('warning', '最多只能上传6张图片!');
					}else {
						$('#image').click();
					}
				});

				//图片上传
				$('#image').on('change', function() {
					$('.imageAddSubmit').submit();
				});

				//图片删除
				$('.btn-image-delete').on('click', function() {
					var length = $('.image-control-ctn >div').length;
					if (length <= 1) {
						cusAlert('warning', '至少要有一张图片!');
					}else {
						var imageDeleteUrl = $(this).data('url');
						$('input[name="imageDeleteUrl"]').val(imageDeleteUrl);
						$('.imageDeleteSubmit').submit();
					}
				});

				//图片编辑
				$('.btn-image-edit').on('click', function() {
					var imageEditUrl = $(this).data('url');
					$('input[name="imageEditUrl"]').val(imageEditUrl);
					$('#imageEditId').click();
				});
				$('#imageEditId').on('change',function() {
					$('.imageEditSubmit').submit();
				});

				// $('.btn-ctn .btn-edit').on('click', function() {
				// 	//打开输入框
				// 	$('.form-horizontal input.allow,.form-horizontal textarea.allow,.form-horizontal select.allow').removeAttr('readonly');
				// 	$('.form-horizontal input.allow,.form-horizontal textarea.allow,.form-horizontal select.allow').removeAttr('disabled');

				// 	//按钮更换
				// 	$(this).addClass('none');
				// 	$(this).next('.btn-save').removeClass('none');
				// 	$(this).next('.btn-save').removeAttr('disabled');

				// 	return false;
				// });
			});
		})(jQuery);
		</script>
	</body>
</html>